<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I’m <strong>Muhammad Adil</strong> — a Unity Game Developer with over four years of hands-on experience designing, developing, and optimizing interactive games and learning applications. 
          My work focuses on building smooth gameplay systems, intelligent interactions, and scalable back-end features using C#, PlayFab, and Unity’s modern frameworks.</p>
      </div>
      <div class="col-lg-4">
        <p>I’m passionate about blending creativity and technology to craft engaging games that spark learning and imagination. I focus on building AI tools, animation systems, and deeply interactive gameplay experiences.
           I’m now exploring exciting opportunities to advance my studies in game technology, immersive learning, and digital innovation.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="assets/resume/Muhammad_Adil_Resume.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
