<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I’m Muhammad Adil — a Unity Game Developer with over four years of professional experience creating, optimizing, and publishing interactive games and educational applications. 
          My expertise includes gameplay systems, user experience design, and scalable data-driven features using C#, PlayFab, and Unity’s advanced frameworks for smooth, engaging, and efficient development workflows.</p>
      </div>
      <div class="col-lg-4">
        <p>I’m passionate about blending creativity with technology to build experiences that inspire learning and imagination. My key interests include AI-driven tools, animation systems, and interactive gameplay programming.
           I’m currently exploring opportunities to advance my studies and research in game technology, immersive education, and digital innovation.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
