<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hi, I’m <strong>Muhammad Adil</strong> — a Unity Game Developer with over four years of hands-on experience designing, developing, and optimizing interactive games and learning applications. 
          My work focuses on building smooth gameplay systems, intelligent interactions, and scalable back-end features using C#, PlayFab, and Unity’s modern frameworks.</p>
      </div>
      <div class="col-lg-4">
        <p>I’m passionate about combining creativity with technology to create experiences that both entertain and educate. My interests include gameplay programming, animation systems, and AI-driven tools for learning.
           I’m currently pursuing opportunities to further my studies and research in advanced game systems and interactive learning technologies.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
