/* =========================
   CONTACT SECTION (ORIGINAL)
   ========================= */

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  font-size: 1.5em;
  background: transparent;
  box-shadow: none !important;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  opacity: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #{{ site.color.primary }};
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee;
}

/* Contact Send Button Hover */
#contact .btn-success {
  transition: all 0.3s ease-in-out;
}

#contact .btn-success:hover,
#contact .btn-success:focus {
  background-color: #{{ site.color.secondary }} !important;
  border-color: #{{ site.color.secondary }} !important;
  color: #fff !important;
}
