{% include css/bootstrap.min.css %}
{% include css/global.css %}
{% include css/header.css %}
{% include css/about.css %}
{% include css/skills.css %}
{% include css/skills_detail.css %}
{% include css/portfolio.css %}
{% include css/contact.css %}
{% include css/footer.css %}